* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.heading {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  border-bottom: solid black 2px;
}

.heading input,
.heading button {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #8f8686;
}
.addInputs :first-child {
  border-bottom-left-radius: 20px;
}
.addInputs :last-child {
  border-bottom-right-radius: 20px;
}

.searchUser input {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.body {
  background-color: #0096c7;
  min-height: 90vh;
  height: 90%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 30%;
  min-width: 350px;
  border: solid black 2px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 0 0 0;
}

.listItem {
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}

.listItem > p {
  display: flex;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listItem :nth-child(2) {
  left: 5%;
  position: relative;
  width: 60px;
}

.listItem :nth-child(3) {
  left: 5%;
  position: relative;
  width: 100px;
}

.listItem > p:hover {
  overflow: visible;
  display: flex;
}
.listItem input {
  min-width: 15px;
  min-height: 15px;
  width: 1.5vw;
  height: 1.5vw;
}

.listItem button {
  min-width: 20px;
  min-height: 20px;
  width: 3vw;
  height: 3vw;
  border-radius: 8px;
  margin: 10px 20px;
}


.deleteAllUsers {
  width: 100%;
  line-height: 2rem;
  padding: 0 10px;
  border: none;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-top: 20px;
}


@media screen and (max-width: 650px) {
  .heading {
    flex-direction: column;
    justify-content: center;
  }
}